#
# Nubia drivers configuration
#

#menuconfig NUBIA_DRIVERS
menu "nubia drivers"

config NUBIA_DRIVERS
	bool "NUBIA DRIVERS"
	default n
	help
	  Say Y here if you want to enable NUBIA DRIVERS
	  If unsure, say N.

comment "Nubia Device Drivers"

if NUBIA_DRIVERS
# Add nubia drivers configuration here

config NUBIA_TOUCHSCREENS
	bool "NUBIA_TOUCHSCREENS"
	depends on NUBIA_DRIVERS
	default n
	help
	  Say Y here if you want to enable NUBIA_TOUCHSCREENS
	  If unsure, say N.

if NUBIA_TOUCHSCREENS
source "drivers/nubia/touch/Kconfig"
endif

config NUBIA_NFC
	bool "NUBIA_NFC"
	depends on NUBIA_DRIVERS
	default n
	help
	  Say Y here if you want enable NUBIA_NFC
	  If unsure, say N.

if NUBIA_NFC
source "drivers/nubia/nfc/Kconfig"
endif

config NUBIA_DISPLAY
	bool "NUBIA_DISPLAY"
	depends on NUBIA_DRIVERS
	default n
	help
	  Say Y here if you want to enable NUBIA_DISPLAY
	  If unsure, say N.

if NUBIA_DISPLAY
source "drivers/nubia/display/Kconfig"
endif

config NUBIA_SENSORS
	bool "NUBIA_SENSORS"
	depends on NUBIA_DRIVERS
	default n
	help
	  Say Y here if you don't want to enable NUBIA_SENSORS
	  If unsure, say N.

if NUBIA_SENSORS
source drivers/nubia/sensors/Kconfig
endif

endif

endmenu


# Nubia sdm630 / sdm660 devices configuration options

config MACH_NUBIA
    bool "NUBIA device"
    depends on ARCH_QCOM
    help
      Support for Nubia products

config MACH_NUBIA_SDM630
    bool "NUBIA SDM630"
    depends on ARCH_SDM630
    select MACH_NUBIA
    help
      Support for SDM630 Nubia variants

config MACH_NUBIA_SDM660
    bool "NUBIA SDM660"
    depends on ARCH_SDM660
    select MACH_NUBIA
    help
      Support for SDM660 Nubia variants

menu "Nubia board selection"

config MACH_NUBIA_NX611J
    bool "NUBIA_NX611J board"
    select MACH_NUBIA_SDM630
    select MACH_NUBIA_SDM660
    help
      Support for Nubia Z18 Mini variant

endmenu
